  <div class="footer">
    <div>
      <a href="https://jaywcjlove.github.io/#/sponsor" target="_blank">
        <img alt="Buy me a coffee" src="https://img.shields.io/badge/Buy%20me%20a%20coffee-048754?logo=buymeacoffee">
      </a>
      <a href="https://github.com/jaywcjlove/github-rank/network" target="_blank">
        <img src="https://img.shields.io/github/forks/jaywcjlove/github-rank.svg">
      </a>
      <a href="https://github.com/jaywcjlove/github-rank/stargazers" target="_blank">
        <img src="https://img.shields.io/github/stars/jaywcjlove/github-rank.svg">
      </a>
      <a href="https://www.npmjs.com/package/@wcj/github-rank" target="_blank">
        <img src="https://img.shields.io/npm/v/@wcj/github-rank.svg">
      </a>
      <a href="https://unpkg.com/@wcj/github-rank/web/index.html" target="_blank">
        <img src="https://img.shields.io/npm/v/@wcj/github-rank.svg?label=unpkg">
      </a>
    </div>
    <div class="time">Last cache created on <%= `${new Date().getFullYear()}/${(new Date().getMonth()) + 1}/${new Date().getDate()}` %> by Github API v3.</div>
    Create by <a href="https://github.com/jaywcjlove" target="_blank">小弟调调™</a>.
  </div>
</body>
</html>