<li class="rank-title">
  <span class="select">
    <a class="<%= type === 'daily' ? 'active': '' %>" href="trending.html">Today</a>
    <a class="<%= type === 'weekly' ? 'active': '' %>" href="trending-weekly.html">Week</a>
    <a class="<%= type === 'monthly' ? 'active': '' %>" href="trending-monthly.html">Month</a>
  </span>
</li>